## General rules

# backups
*~
*.swp
.svn
.git
*.pyc

## Vim specific rules

vim/tags/
vim/doc/tags
vim/view/
# ignore hidden files
vim/.netrwhist
vim/.VimballRecord
vim/yankring_history
vim/yankring_history_v2.txt

## GNUPG specific rules
gnupg/gpg-agent-info-*
gnupg/random_seed
gnupg/*bak
gnupg/secring.gpg
gnupg/trustdb.gpg
gnupg/private*

vim/spell/
